/* *************************Reset/Global css****************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Comfortaa", Areil, Helvitica, sans-serif;
}

/* ***************************Header Section****************************/
#header-container {
    display: flex;
    height: 61px;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(245, 246, 246, 0.56);
    border-bottom: 1px solid #c4c8c7;
}

.header-content-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-logo {
    margin-left: 120px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.header-logo:hover {
    cursor: pointer;
}

.header-logo img {
    height: 27px;
}

.header-content-right img {
    padding: 5px;
}

.header-content-right .header-lifeavailable {
    padding: 5px;
    font-size: 20px;
    color: #efa92e;
}

.header-content-right .fa {
    padding: 5px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 20px;
    color: floralwhite;
}

/* ***************************Main Section****************************/
body {
    background: url(../images/free-graphpaper-gridpaper.jpg);
}


.hint-timer {
    display: none;
    margin-top: 15px;
}

.hint {
    cursor: pointer;
    color: white;
    background-color: #f39c12;
    padding: 10px;
    border-radius: 10px;
    margin-left: 225px;
    width: 54px;
    margin-top: 7px;
}
.hint-container {
    display: none;
    position: absolute;
    margin-top: 20px;
    min-height: 58px;
}
.hint-life {
    height: 5px;
    margin-left: 225px;
    width: 54px;
}

.container {
    height: 400px;
}

.main-container {
    height: 150px;
}

.main-title {
    margin-top: 38px;
    text-align: center;
    height: 56px;
}

.content-random-play {
    width: 52%;
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid;
    border-top: 1px solid;

}

.content-random-play:hover {
    cursor: pointer;
}

.content-random-play img {
    width: 30px;
    margin-left: 10px;
}

.content-time-play {
    width: 52%;
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.content-time-play:hover {
    cursor: pointer;
}

.secondary-text {
    font-size: 14px;
    color: #808d8e;
}

.profile-img {
    width: 30px;
    height: 30px;
}

.random-play-text {
    margin-right: 273px;
}

.player-untimed {
    display: flex;
    margin-right: 20px;
}

.player-timed {
    display: flex;
    margin-left: 10px;
}

.play-rule-text {
    margin-left: 12px;
    font-size: 16px;
}

.random-play-status {
    margin-top: 150px;
}

.alert-random-play {
    text-align: center;
    font-size: 20px;
    color: chocolate;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.showcase-aphabets {
    text-align: center;
    margin: 0px auto;

}

.showcase-aphabets span {
    padding: 0px 5px;
    background: #3498db;
    color: white;
    font-size: 33px;
    border-radius: 15px;

}

.showcase-aphabets span:hover {
    cursor: pointer;
}

.showcase-line {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 38px auto;
    height: 22px !important;
}

.showcase-line-spanEle {
    border-bottom: 2px solid orange;
    width: 15px;
}

.section-container {
    display: none;
}

.play-again-text {
    margin-top: 40px;
    text-align: center;
    color: orange;
}

/****************************Footer Section****************************/
.footer-container li a {
    text-decoration: underline;
    color: blue;
}

.footer-container li a:hover {
    cursor: pointer;
}

.footer-container li .footer-copyright {
    text-decoration: none;
    color: black;
}

footer {
    position: fixed;
    bottom: 0px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.footer-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul.footer-container li {
    margin: 0 9px;
}