/* *************************Reset/Global css****************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Comfortaa", Areil, Helvitica, sans-serif;
}

/* ***************************Header Section****************************/
#header-container {
    display: flex;
    height: 61px;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(245, 246, 246, 0.56);
    border-bottom: 1px solid #c4c8c7;
}

.header-content-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-logo {
    margin-left: 120px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.header-logo:hover{
    cursor: pointer;
}

.header-logo img {
    height: 27px;
}

.header-content-right img {
    padding: 5px;
}

.header-content-right .header-lifeavailable {
    padding: 5px;
    font-size: 20px;
    color: #efa92e;
}

.header-content-right .fa {
    padding: 5px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 20px;
    color: floralwhite;
}

/* ***************************Main Section****************************/

body {
    background: url(../images/free-graphpaper-gridpaper.jpg);
}

.main-title {
    margin-top: 38px;
    text-align: center;
    height: 56px;
}

.content-random-play {
    width: 52%;
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid;
    border-top: 1px solid;

}

.content-random-play:hover{
    cursor: pointer;
}

.content-random-play img{
    width: 30px;
    margin-left: 10px;
}

.content-time-play {
    width: 52%;
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.content-time-play:hover{
    cursor: pointer;
}

.secondary-text {
    font-size: 14px;
    color: #808d8e;
}

.user-img {
    width: 30px;
    height: 30px;
}

.random-play-text {
    margin-right: 273px;
}

.player-untimed {
    display: flex;
    margin-right: 20px;
}

.player-timed {
    display: flex;
    margin-left: 10px;
}

.play-rule-text {
    margin-left: 12px;
    font-size: 16px;
}